.heading{
    display: block;
    margin-bottom: 13px;
    margin-top: 0;
}
.heading .grid1{
    display: grid;
    grid-template-columns: 20% 60% 10% 10%;
    gap: 2px;
}
.grid1 .item{
    background-color: white;
    height: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: 80%;
}
.item2{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}
.item2 .phonenumber{
    float: left;
}
.item2 .social{
    float: right;
}
.heading2 .grid2
{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    text-align: center;
}
.newitem{
    background-color: white;
    height: 147px;
    padding: 0;
}
.likedlist{
    background-color: white;
}
.categories{
    display: flex;
    margin: 45px;
    margin-left: 10%;
}
.heading3{
    display: block;
    margin-top: 17%;
    padding-bottom: 70px;
    background: white;
}
.heading3 .grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto;
    background-color: white;
    text-align: center;
    margin: 0;
}
.photo{
    position: relative;
    transition: width 1s;
    opacity: 4;
    visibility: visible;
    width: 400px;
    height: 450px;
    margin: 0;
}
/* MENU  */
.menu{
    background-color: black;
    display: flex;
}
.menu .item:hover{
    background-color: #696969;
}
.list{
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.list .item{
    padding-top: 20px;
    padding-bottom: 20px ;
    padding-left: 70px;
    padding-right: 70px;
    background-color: black;
    color: white;
    border: #696969 0.01px;
    border-style: none solid none solid;
}
/* Danh sách ALL DEPARTMENT */
.menu .list .item a{
    color: white;
    text-decoration: none;
}
.list .item .drop{
    position: absolute;
    z-index: 1;
    display: none;
    background-color: white;
}
.list .item .drop a{
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 120px;
    padding-right: 120px;
    text-align: center;
    display: block;
}
.list .item.drop:hover .drop{
    display: block;
    margin-top: 20.3px;
}
.list .item.drop:hover .drop a:hover{
    background-color: #696969;
}
/* Sản phẩm */
.title{
    font-size: 12px;
    font-family: Arial;
    color: #696969;
}
.price{
    color: #F2D21E;
    padding-top: 20px;
    padding-bottom: 40px;
}
.total .price{
    border-top: 2px solid #696969;
    text-align: center;
}
.photo:hover{
    width: 430px;
}
.child-cart{
    width: auto;
    height: auto;
    right: 0;
    text-align: center;
    position: absolute;
    z-index: 2;
    background-color: white;
    padding: 20px;
    display: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    font-style: normal;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.child-cart .item{
    margin: 30px;
}
.cart:hover .child-cart{
    display: block;
}
/* Footer */
.footer .logo{
    margin-left: 20px;
}
.footer2{
    background-color: white;
    padding-left: 40px;
    display: flex;
}
.footer2 .logo{
    width: 200px;
}
.footer2 .info{
    margin: 60px;
    margin-left: 80px;
}
.word{
    text-decoration: none;
    color: #696969;
}
.info .input{
    height: 60px;
    outline: none;
    border: none;
    background-color: whitesmoke;
}
.input.box{
    padding-left: 20px;
}
.input.button{
    background-color: #F2D21E;
    height: 70;
}